:root {
	--bg-1: #00f;
	--bg-2: #0f0;
	--bg-3: #0ff;
	--c-1: #f0f;
	--font: "Comic Sans MS", cursive, sans-serif !important;
}
* {
	cursor: url(cancer.bmp), auto !important;
	text-shadow: 5px 5px 3px #f00, -5px -5px 3px #ff0;
	box-shadow: inset 0px 0px 5px 5px #0ff;
}
button {
	animation: flash 1s infinite;
}
@keyframes flash {
	0% {background: #00f; transform: rotate(0deg) translateX(0px);}
	50% {background: #f00; transform: rotate(45deg) skewX(70deg);}
	100% {background: #00f; transform: rotate(0deg) skewX(30deg);}
}