body {
	background-color: #2B3535;
	color: #C0C0C0;
	height: 100%;
	text-shadow: 0px 0px 2px #C0C0C0;
	font-family: "Lucida Console", Monaco, monospace;
}
td {
	display: table-cell;
	vertical-align: inherit;
}
.buyButton {
	width: 135px;
	height: 35px;
	float: right;
	background-color: #2B3535;
	color: white;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
	border: 2px solid green;
	box-shadow: 0px 0px 8px 1px green;
}
.efButton {
	width: 135px;
	height: 35px;
	background-color: #2B3535;
	color: white;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
	border: 2px solid green;
	box-shadow: 0px 0px 8px 1px green;
}
.prestigeButton {
	width: 170px;
	height: 40px;
	background-color: #2B3535;
	color: white;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
	border: 2px solid green;
	box-shadow: 0px 0px 8px 1px green;
}
.tabsButton {
	width: 130px;
	height: 40px;
	background-color: #2B3535;
	color: #55FFEE;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
	border: 2px solid #55FFEE;
	box-shadow: 0px 0px 8px 1px #55FFEE;
}
.optionsButton {
	width: 200px;
	height: 55px;
	background-color: #2B3535;
	color: #D0D0D0;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
	border: 2px solid #11AA11;
	box-shadow: 0px 0px 8px 1px #11AA11;
}
.popup {
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	border: 2px solid black;
	color: #D0D0D0;
	background-color: #455A64;

}
.cancelButton {
	color: #C0C0C0;
	background-color: #455A64;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid green;
}
#money {
	color: white;
	text-shadow: 0px 0px 4px white;
}
#corruptButton {
	height: 100px;
	width: 200px;
	font-size: 40px;
	border: 2px solid green;
	background-color: #2B3535;
	color: #F0F0F0;
	box-shadow: 0px 0px 8px 1px green;
}
#corruptMessage {
	color: white;
	font-size: 30px;
}
#away {
	width: 400px;
	height: 300px;
	background-color: #455a64;
	color: #C0C0C0;
}