* {
	transition: all 0.3s linear;
	color: var(--c-1);
	font-family: var(--font);
	touch-action: manipulation;
}
input {
	background: var(--b-1);
}
body {
	background: var(--bg-1);
}

button {
	border: 2px solid var(--c-1);
	background: var(--bg-1);
	outline: none;
}
button:hover {
	border: 2px solid #fb7;
	box-shadow: 0px 0px 7px 1px #fb7;
}
button:active {
	background: var(--bg-3);
}
button:disabled, .disabled {
	opacity: 0.5;
}
select {
	background: var(--bg-1) !important;
}

.tab {
	padding: 5px;
	background: var(--bg-2);
	transition: none;
}
.automatorDiv {
	border: 3px solid var(--c-1);
	border-radius: 3px;
	width: 95%;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 11px;
}
.optionsbtn {
	width: 300px;
	height: 160px;
	margin: 5px;
	font-size: 20px;
}
.machine {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	padding-right: 10%;
	padding-left: 10%;
	text-align: center;
	border: 3px dashed #888;
	border-radius: 3px;
	transition: none;
}
.machine > * {
	transition: none;
}
.progressbarplantium {
	width: 50%;
	height: 50px;
	border: 2px solid var(--c-1);
	border-radius: 5px;
}
.pbarcontent {
	height: 100%;
	width: 2%;
	background: linear-gradient(to right, #da0, #c71);
	transition: all 0.05s;
}

.qu {
	height: 8em;
	width: 135px;
	font-size: 12px;
	vertical-align: top;
}
.qu.d {
	background: #f003;
}
.qu.b {
	background: #0f03;
}
.cu {
	height: 8em;
	width: 175px;
	font-size: 12px;
	vertical-align: top;
}
.cu.d {
	background: #f003;
}
.cu.b {
	background: #0f03;
}
.pu {
	height: 10em;
	width: 250px;
	vertical-align: top;
}
.pu.d {
	background: #f005;
}
.pu.b {
	background: #fe05;
}
.hc {
	height: 100px;
	width: 175px;
	font-size: 12px;
	border: 1px solid var(--c-1);
	border-radius: 3px;
	background: #da0;
	color: #000 !important;
	vertical-align: top;
	margin: 3px;
}
.hc > b {
	color: #000 !important;
}
.hc:hover {
	border: 1px solid var(--c-1) !important;
}
.hc:active {
	background: #b80 !important;
}

.array {
	border: 2px solid #eeddaa;
	padding: 10px;
	display: inline-block;
}
.array > div > button, .batterybtn {
	width: 50px;
	height: 50px;
	font-size: 10px;
}
.array > div > button {
	transition-property: border, box-shadow;
}
.batteryButton {
	width: 200px;
	text-align: center;
}
.selected {
	border: 2px solid #0000ff;
}
.copper {
	background-color: #b87333;
}
.copper:active {
	background-color: #b87333;
}
.silver {
	background-color: #888888;
}
.silver:active {
	background-color: #888888;
}
.connected {
	background-color: #1e90ff;
}
.connected:active {
	background-color: #1e90ff;
}
.chained {
	background-color: #cc6666;
}
.chained:active {
	background-color: #cc6666;
}