body {
	background-color: #FFFFFF;
	color: #202020;
	height: 100%;
	text-shadow: 0px 0px 2px #202020;
	font-family: "Lucida Console", Monaco, monospace;
}
td {
	display: table-cell;
	vertical-align: inherit;
}
.buyButton {
	width: 135px;
	height: 35px;
	float: right;
	color: #000000;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
}
.yes {
	border: 2px solid green;
	box-shadow: 0px 0px 8px 1px green;
}
.no {
	border: 2px solid red;
	box-shadow: 0px 0px 8px 1px red;
	background-color: #A3A3A3;
}
.efButton {
	width: 135px;
	height: 35px;
	color: #000000;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
}
.prestigeButton {
	width: 170px;
	height: 40px;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
}
.tabsButton {
	width: 130px;
	height: 40px;
	background-color: #FFFFFF;
	color: #33AAAA;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 15px;
	border: 2px solid #33AAAA;
	box-shadow: 0px 0px 8px 1px #33AAAA;
}
.optionsButton {
	width: 200px;
	height: 55px;
	background-color: #FFFFFF;
	color: #000000;
	text-align: center;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 20px;
	border: 2px solid #11AA11;
	box-shadow: 0px 0px 8px 1px #11AA11;
}
.computerDiv {
	background-color: #FFFFFF;
	border: 2px solid #1C1C1C;
	box-shadow: 0px 0px 8px 1px #1C1C1C;
	height: 200px;
	width: 24vw;
	font-size: 25px;
}
.computerButton {
	height: 30px;
	width: 135px;
}
.popup {
	position: absolute;
	z-index: 5;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid green;
	background-color: white;
	color: black;
}
.cancelButton {
	color: black;
	background-color: white;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%) translateY(-50%);
	border: 2px solid green;
}
.buyTd {
	z-index: 1;
	width: 270px;
}
#money {
	color: #000000;
	text-shadow: 0px 0px 4px #000000;
}
#moneyAmount {
	color: #7755FF;
	text-shadow: 0px 0px 7px #7755FF; 
}
#corruptButton {
	height: 100px;
	width: 200px;
	font-size: 40px;
	border: 2px solid green;
	background-color: #FFFFFF;
	color: #000000;
	box-shadow: 0px 0px 8px 1px green;
}
#corruptMessage {
	color: #FFFFFF;
	font-size: 30px;
}
#away {
	width: 400px;
	height: 300px;
}