:root {
	--bg-1: #000;
	--bg-2: #303;
	--bg-3: #333;
	--c-1: #fff;
}
.b {
	background-color: #0f04 !important;
}
.pu.b {
	background-color: #fe05 !important;
}
button:hover {
	border-color: #ccc !important;
	box-shadow: 0px 0px 7px 1px #ccc !important;
}